@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

@font-face {
  font-family: digital-7;
  src: url(./fonts/digital-7.ttf);
}

$primary-font: "Roboto", sans-serif;

$theme-colors: (
  "primary": #1876d2,
  "orange": #ff6200,
  "black": #050404
);

$spacer: 1rem;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

@import "../node_modules/bootstrap/scss/bootstrap";

// ******** Global ********
* {
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
}

/* Custom Classes */
.Section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.Section--half {
  min-height: 50vh;
}

.Project {
  border: 0 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.Project__image {
  position: relative;
}

.Project__img {
  // min-height: 300px;
}

.Project__links {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  background-color: #00000066;
  width: 100%;
  height: 100%;
}

.Project__links a {
  color: #ffffff;
  font-weight: 500;
}
.Project__title {
  font-weight: 500;
}
.Project__description {
  height: 37px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Intro {
  background-image: url("./bg.png");
  background-size: cover;
}
.Intro__content {
  z-index: 10;
}
.Intro__overlay {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f8ff61;
}

.Name {
  font-weight: 700;
}

.Designation {
  display: inline-block;
}

.Designation__text {
  font-family: digital-7;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  color: map-get($theme-colors, "orange");
  border-right: 2px solid map-get($theme-colors, "orange");
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: map-get($theme-colors, "orange");
  }
}

// Media Queries
@include media-breakpoint-up(xs) {
  .Designation__text {
    font-size: 1.75rem;
  }
}

@include media-breakpoint-up(sm) {
  .Designation__text {
    font-size: 2rem;
  }
}
