@font-face {
  font-family: Spartan-Light;
  src: url("./fonts/Spartan/Spartan-Light.ttf");
}

@font-face {
  font-family: Spartan-Regular;
  src: url("./fonts/Spartan/Spartan-Regular.ttf");
}

@font-face {
  font-family: Spartan-SemiBold;
  src: url("./fonts/Spartan/Spartan-SemiBold.ttf");
}

@font-face {
  font-family: Spartan-Bold;
  src: url("./fonts/Spartan/Spartan-Bold.ttf");
}

@font-face {
  font-family: Hind-Regular;
  src: url("./fonts/Hind/Hind-Regular.ttf");
}

$theme-colors: ("primary": #FF6666,
  "secondary": #336699,
);

$spacer: 1rem;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

@import "../node_modules/bootstrap/scss/bootstrap";

// Global
html,
body {
  scroll-behavior: smooth;
}

h1 {
  font-family: Spartan-Bold;
  font-size: 40px;
}

h2 {
  font-family: Spartan-SemiBold;
  font-size: 30px;
}

h3 {
  font-family: Spartan-Regular;
  font-size: 20px;
}

h4 {
  font-family: Spartan-Light;
  font-size: 25px;
}

h5 {
  font-family: Spartan-SemiBold;
  font-size: 18px;
}

p,
a,
label,
sub,
div {
  font-family: Hind-Regular;
  font-size: 14px;
}

// Global